body {
  font-family: Roboto, sans-serif;
  background-color: #f4eaff;
}

header {
  padding: 32px;
  text-align: center;
}

h1 {
  font-size: 52px;
  font-weight: 900;
  color: #5831c4;
}

header img {
  width: 300px;
}

main {
  margin: 32px auto;
  border-radius: 8px;
  padding: 32px;
  width: 700px;
  color: #f8f1ff;
  background-color: #7a4ada;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  border-left: 5px solid transparent;
  padding-left: 10px;
}

a {
  border-radius: 4px;
  padding: 2px 6px;
  color: #240366;
  text-decoration: none;
  background-color: #ffedb1;
}

a:hover,
a:active {
  background-color: #fac927;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 30px;
  color: #837195;
}

footer a {
  border-radius: 8px;
  padding: 12px 20px;
  color: #423304;
  background-color: #fac927;
}

footer a:hover,
footer a:active {
  background-color: #ffba3a;
}

.extra-important {
  border-color: #f7d155;
  color: #ffedb1;
}
